body,
html,
ul,
p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #606266;
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 90px;
    transition: all 0.2s ease-in-out;
}
::-webkit-scrollbar-track-piece {
    width: 6px;
    background: #424f63;
    border: 0;
    border-radius: 3px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border: 0;
    background: #424f63;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #65cea7;
    border: 0;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #57be98;
}